{% extends 'base.html' %}
{% block title %} Purchase History {% endblock %}
{% block content %} 
<h1 class="text-center mt-5"> PURCHASE RETURN HISTORY </h1> 
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">RETURN ID</th>
        <th scope="col">PURCHASE ID</th>
        <th scope="col">DATE</th>
        <th scope="col">QUANTITY</th>
        <th scope="col">TOTAL</th>
        <th scope="col">REASON</th>
      </tr>
    </thead>
    <tbody>
      {% for ea in pr %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td> {{ea.id}} </td>
        <td> {{ea.purchase_id}} </td>
        <td> {{ea.return_date}} </td>
        <td> {{ea.return_quantity}} </td>
        <td> {{ea.return_total}} </td>
        <td> {{ea.return_reason}} </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}