{% extends 'base.html' %}
{% block title %} Purchases {% endblock %}
{% block content %}

<h1 class="text-center mt-5 mb-5">PURCHASES</h1>
<div class="container">
    {% if submit == True %}
    <div class="row  mt-5">
        <div class="col-8 offset-2">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Purchase Added! Your Purchase ID is {{pur_id}}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8 offset-2">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Purchase Id is your Return Reference.</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
    {% endif %}
    {% if exist == True %}
    <div class="row  mt-5">
        <div class="col-8 offset-2">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Item Exists! </strong>You're trying to add an exisitng item!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
    {% endif %}
    {% if retail_err == True %}
    <div class="row  mt-5">
        <div class="col-8 offset-2">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Error! </strong>Multiple Item Entry!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="card mt-20">
        <h5 class="card-title text-center mt-3">Restock</h5>
        <div class="card-body">
            <form action="{% url 'addExistingPurchase' %}" method="POST">{% csrf_token %}
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="item">Select Item:</label>
                            <select class="form-control" id="item" name="item">
                                {% for ea in i %}
                                <option value="{{ea.id}}">{{ ea.item_name}}</option>
                                {% endfor %}
                            </select>
                          </div>
                    </div>
                    
                    <div class="col-md-3 ">
                        <label for="item">&nbsp;</label>
                        <input type="text" class="form-control" id="batch" name="batch" placeholder="BATCH" required>
                    </div>
                    <div class="col-md-2 ">
                        <label for="item">&nbsp;</label>
                        <input type="number" step="0.01" class="form-control" id="quantity" name="quantity" placeholder="QUANTITY"
                            required>
                    </div>
                    <div class="col-md-2">
                        <label for="item">&nbsp;</label>
                        <input type="number" step="0.01" class="form-control" id="price" name="price" placeholder="PRICE EACH"
                            required>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="item">Select Vendor:</label>
                            <select class="form-control" id="vendor" name="vendor">
                                {% for ea in v %}
                                <option value="{{ea.id}}">{{ ea.vendor_name}}</option>
                                {% endfor %}
                            </select>
                          </div>
                    </div>
                    <div class="col-md-3 ">
                        <label for="item">Expiry:</label>
                        <input type="date" class="form-control" id="expiry" name="expiry" placeholder="expiry" required>
                    </div>
                    <div class="col-5 text-center">
                        <div>
                            <label for="item">&nbsp;</label>
                        </div>
                        <div>
                            <button class="btn btn-success" type="submit">ADD</button>
                            <a href="{% url 'purchase' %}" class="btn btn-success">NEW STOCK</a>
                            <button class="btn btn-danger " type="reset">CLEAR</button>
                            <a href="{% url 'home' %}" class="btn btn-primary ">HOME</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body text-center">
            <a href="{% url 'purchasehistory' %}">view purchase history</a>
        </div>
    </div>
</div>

{% endblock %}