{% extends 'base.html' %}
{% block title %} Purchase History {% endblock %}
{% block content %} 
<h1 class="text-center mt-5"> PURCHASE HISTORY </h1> 
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">PURCHASE ID</th>
        <th scope="col">VENDOR</th>
        <th scope="col">PRODUCT NAME</th>
        <th scope="col">BATCH</th>
        <th scope="col">DATE</th>
        <th scope="col">QUANTITY</th>
        <th scope="col">PRICE</th>
        <th scope="col">TOTAL</th>
      </tr>
    </thead>
    <tbody>

          {% for purchase in p %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td> {{purchase.id}} </td>
              <td> {{purchase.vendor_id}} </td>
              <td> {{purchase.item_id}} </td>
              <td> {{purchase.item_batch}} </td>
              <td> {{purchase.purchase_date}} </td>
              <td> {{purchase.item_quantity}} </td>
              <td> {{purchase.item_price}} </td>
              <td> {{purchase.item_total}} </td>
            </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}