{% extends 'base.html' %}
{% block title %} Purchases {% endblock %}
{% block content %}

<h1 class="text-center mt-5 mb-5">PURCHASES</h1>
<div class="container">
    <div class="card mt-20">
        <h5 class="card-title text-center mt-3">New Purchase</h5>
        <div class="card-body">
            <form action="">
                <div class="row">
                    <div class="col-md-3">
                        <input type="text" class="form-control" id="itemname" name="itemname" placeholder="ITEM NAME">
                    </div>
                    <div class="col-md-3 ">
                        <input type="text" class="form-control" id="batch" name="batch" placeholder="BATCH">
                    </div>
                    <div class="col-md-3 ">
                        <input type="number" class="form-control" id="quantity" name="quantity" placeholder="QUANTITY">
                    </div>
                    <div class="col-md-3">
                        <input type="number" class="form-control" id="price" name="price" placeholder="PRICE EACH">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col text-center">
                            <button class="btn btn-primary" type="submit">ADD</button>
                            <button class="btn btn-danger" type="reset">CLEAR</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body text-center">
            <a href="{% url 'purchasehistory' %}" >view purchase history</a>
        </div>
    </div>
</div>

{% endblock %}