{% extends 'base.html' %}
{% block title %} Sales Return History {% endblock %}
{% block content %} 
<h1 class="text-center mt-5"> SALES RETURN HISTORY </h1> 
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">RETURN ID</th>
        <th scope="col">SALES ID</th>
        <th scope="col">DATE</th>
        <th scope="col">QUANTITY</th>
        <th scope="col">TOTAL</th>
      </tr>
    </thead>
    <tbody>
      {% for return in pr %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td> {{return.id}}</td>
        <td> {{return.sales_id}}</td>
        <td> {{return.return_date}}</td>
        <td> {{return.return_quantity}}</td>
        <td> {{return.return_total}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}