{% extends 'base.html' %}
{% block title %} Retails {% endblock %}
{% block script%} 
<script>
    $(document).ready(function()
    {
      var $select1=$('#itemid_select'),
          $select2=$('#retailid_select'),
          $options=$select2.find('option');
          $select1.on('change',function(){
            $select2.html($options.filter('[value="'+this.value+'"]'));
          }).trigger('change');
    });
  </script>
{% endblock %}
{% block content %}
<h1 class="text-center mt-5"> Retails </h1>
<div class="container mb-2">
    {% if success == True %}
    <div class="row  mt-5">
        <div class="col-8 offset-2">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Sale Success!! your Sales id is {{salesid}}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8 offset-2">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                Save this sales id for Returns
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
    {% endif %}
    {% if stockout == True %}
    <div class="row  mt-5">
        <div class="col-8 offset-2">
            <div class="alert alert-warning
             alert-dismissible fade show" role="alert">
                <strong>Not enough Stock</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="card mt-20">
        <h5 class="card-title text-center mt-3">New Sales</h5>
        <div class="card-body">
            {%if selected is True%}
            <form action="{% url 'salePost' %}" method="POST">{% csrf_token %}
            {%elif selected is False%}
            <form action="{% url 'salePostRetailSelect' %}" method="POST">{% csrf_token %}
                <div class="row">
                    <div class="col-12">
                        <label for="item">Select Item:</label>
                            <select class="form-control" id="itemid_select" name="item">
                                {% for ea in i %}
                                    <option value="{{ea.id}}">{{ea.item_name}}</option>
                                {% endfor %}
                            </select>
                    </div>
                </div>
                {% endif %}
                {%if selected is True%}
                <div class="row mt-3">
                    <div class="col-md-6">
                        <input type="hidden" name="item" value="{{selectedId}}">
                        <label for="retail">Retail Id:</label>
                        <select class="form-control" id="retailid_select" name="retailid">
                            {% for ea in r %}
                            <option value="{{ea.id}}">{{ ea.retail_id}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="quantity">&nbsp;</label>
                        <input type="number" step="0.01" class="form-control" id="quantity" name="quantity" placeholder="QUANTITY" required>
                    </div>
                </div>
                {%elif selected is False%}
                <div class="col-12 mt-5 text-center">
                    <button class="btn btn-success" type="submit">ADD</button>
                    <hr class="my-4">
                </div>
                {% endif %}
                <div class="row mt-3">
                    <div class="col text-center">
                        <button class="btn btn-success" type="submit">ADD</button>
                        <a href="{% url 'retail' %}" class="btn btn-danger mr-1">CLEAR</button>
                        <a href="{% url 'home' %}" class="btn btn-primary" type="submit">Done</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% if True %}
    <div class="card mt-3 mb-2">
        <div class="card-body text-center">
            <a href="{% url 'saleshistory' %}">view sales history</a>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}