{% extends 'base.html' %}
{% block title %} Sales History {% endblock %}
{% block content %} 
<h1 class="text-center mt-5"> SALES HISTORY </h1> 
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">SALES ID</th>
        <th scope="col">PRODUCT NAME</th>
        <th scope="col">RETAIL ID</th>
        <th scope="col">DATE</th>
        <th scope="col">QUANTITY</th>
        <th scope="col">TOTAL</th>
      </tr>
    </thead>
    <tbody>
      {% for sales in s %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td> {{sales.id}} </td>
        <td> {{sales.item_id}} </td>
        <td> {{sales.retail_id}} </td>
        <td> {{sales.sales_date}} </td>
        <td> {{sales.sales_quantity}}</td>
        <td> {{sales.total}} </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}